<div class="mb-6 px-4 pl-4">
  <span class="-ml-2 mb-3 block h-1 w-10 rounded bg-primary"></span>

  <span class="text-xs uppercase text-dark">message</span>
  <h3 class="mt-2 text-3xl font-black text-dark md:text-3xl">Chairman</h3>
</div>
<p class="p-4 text-lg text-dark opacity-100">
  We would like to express our sincere gratitude to our principal, suppliers and
  to our esteemed clients. Our company over past few years has made remarkable
  progress and is now one of the top suppliers of Health, Education and Research
  products across East Africa.
  <br />
  <br />
  The company has one of the largest, state of the art, warehousing facilities
  which allows us to stock more than 5,000 distinct products ranging from
  Hospital and Laboratory equipment and supplies to education and research
  products.
  <br />
  <br />
  - Mr Hussain Ali Saboor
</p>
