<div class="p-4 text-dark">
  <div class="mb-10 px-4 pl-4">
    <span class="-ml-2 mb-3 block h-1 w-10 rounded bg-primary"></span>

    <span class="text-xs uppercase text-dark">What we stand for</span>
    <h3 class="mt-2 text-3xl font-black text-dark md:text-3xl">
      Goals & Values
    </h3>
  </div>

  <ul class="sm:grid- grid place-content-center gap-8 sm:grid-cols-2">
    <li class="flex" data-aos="zoom-in">
      <div class="px-4 text-5xl font-extralight text-yellow-600">01.</div>
      <div>
        <div class="text-xl font-bold text-dark">Market Expansion</div>
        <p class="max-w-xs py-2 text-sm text-dark">
          LEL is committed to expanding its market presence, not only in
          Tanzania but also in international markets including the UK, Rwanda,
          Uganda and many more, leveraging its past successes as a foundation
          for future growth.
        </p>
      </div>
    </li>
    <li class="flex" data-aos="zoom-in">
      <div class="px-4 text-5xl font-extralight text-yellow-600">02.</div>
      <div>
        <div class="text-xl font-bold text-dark">Market Share Growth</div>
        <p class="max-w-xs py-2 text-sm text-dark">
          LEL aims to increase its market share by strategically positioning its
          products and services, ensuring that it remains a competitive force
          within its industry.
        </p>
      </div>
    </li>
    <li class="flex" data-aos="zoom-in">
      <div class="px-4 text-5xl font-extralight text-yellow-600">03.</div>
      <div>
        <div class="text-xl font-bold text-dark">Business Improvement</div>
        <p class="max-w-xs py-2 text-sm text-dark">
          The company is dedicated to continuous business improvement, with a
          focus on enhancing product positioning and overall cost-effectiveness
          to drive efficiency and profitability.
        </p>
      </div>
    </li>
    <li class="flex" data-aos="zoom-in">
      <div class="px-4 text-5xl font-extralight text-yellow-600">04.</div>
      <div>
        <div class="text-xl font-bold text-dark">Customer Strengthening</div>
        <p class="max-w-xs py-2 text-sm text-dark">
          LEL seeks to strengthen relationships with both existing and new
          customers, capitalizing on its extensive product portfolio and
          value-added services to provide superior customer experiences.
        </p>
      </div>
    </li>
    <li class="flex" data-aos="zoom-in">
      <div class="px-4 text-5xl font-extralight text-yellow-600">05.</div>
      <div>
        <div class="text-xl font-bold text-dark">Quality Assurance</div>
        <p class="max-w-xs py-2 text-sm text-dark">
          As a primary goal, LEL is committed to offering high-quality products
          that meet or exceed customer expectations, establishing itself as a
          reliable source of top-tier products.
        </p>
      </div>
    </li>
    <li class="flex" data-aos="zoom-in">
      <div class="px-4 text-5xl font-extralight text-yellow-600">06.</div>
      <div>
        <div class="text-xl font-bold text-dark">Timely Delivery</div>
        <p class="max-w-xs py-2 text-sm text-dark">
          Ensuring on-time delivery is paramount, and LEL is dedicated to
          upholding its commitment to punctual product delivery, fostering
          customer trust and satisfaction.
        </p>
      </div>
    </li>
    <li class="flex" data-aos="zoom-in">
      <div class="px-4 text-5xl font-extralight text-yellow-600">07.</div>
      <div>
        <div class="text-xl font-bold text-dark">
          Exceptional After-Sales Service
        </div>
        <p class="max-w-xs py-2 text-sm text-dark">
          Beyond the initial sale, LEL will continue to provide exceptional
          after-sales services, further cementing its reputation for reliability
          and customer care.
        </p>
      </div>
    </li>
    <li class="flex" data-aos="zoom-in">
      <div class="px-4 text-5xl font-extralight text-yellow-600">08.</div>
      <div>
        <div class="text-xl font-bold text-dark">Adaptation to Challenges</div>
        <p class="max-w-xs py-2 text-sm text-dark">
          LEL strives to proactively address future challenges, optimizing its
          operations and business strategies to successfully navigate evolving
          market dynamics and customer demands.
        </p>
      </div>
    </li>
  </ul>
</div>
