<!-- <section class="bg-stone-100 py-10 lg:py-20"> -->
<div class="mx-auto max-w-6xl py-4 md:px-6 lg:py-6">
  <div class="flex flex-wrap">
    <div class="mb-10 w-full px-4 lg:mb-0 lg:w-1/2" data-aos="fade-right">
      <div class="lg:max-w-md">
        <div class="mb-6 px-4 pl-4">
          <span class="-ml-2 mb-3 block h-1 w-10 rounded bg-primary"></span>

          <span class="text-sm uppercase text-gray-600">Who we are</span>
          <h1 class="mt-2 text-3xl font-black text-dark md:text-5xl">
            About Us
          </h1>
        </div>
        <p class="mb-10 px-4 text-base leading-7 text-dark opacity-100">
          Over the course of a distinguished
          <span class="font-semibold text-primary opacity-100"
            >55-year history</span
          >, LEL has garnered an esteemed reputation for its unparalleled
          excellence in sales and service delivery. <br />
          Since its inception, the organization has consistently upheld an
          unblemished record for product quality and a distinguished history of
          punctual project completion.
        </p>
        <div class="flex flex-wrap items-center">
          <div class="mb-6 w-full px-4 sm:w-1/2 md:w-1/2 lg:mb-6">
            <div class="bg-white p-6">
              <span class="text-2xl text-offWhite">
                <i class="fa-solid fa-box-open h-10 w-10"></i>
              </span>
              <p class="mb-2 mt-4 text-5xl font-bold text-primary opacity-100">
                3000+
              </p>
              <h2 class="text-sm text-dark">Products</h2>
            </div>
          </div>
          <div class="mb-6 w-full px-4 sm:w-1/2 md:w-1/2 lg:mb-6">
            <div class="bg-white p-6">
              <span class="text-2xl text-offWhite">
                <i class="fa-solid fa-award h-10 w-10"></i>
              </span>
              <p class="mb-2 mt-4 text-5xl font-bold text-primary opacity-100">
                50+
              </p>
              <h2 class="text-sm text-dark">Awards</h2>
            </div>
          </div>
          <div class="mb-6 w-full px-4 sm:w-1/2 md:w-1/2 lg:mb-6">
            <div class="bg-white p-6">
              <span class="text-2xl text-offWhite">
                <i class="fa-solid fa-user-group h-10 w-10"></i>
              </span>
              <p class="mb-2 mt-4 text-5xl font-bold text-primary opacity-100">
                1000+
              </p>
              <h2 class="text-sm text-dark">Satisfied customers</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-10 w-full px-4 lg:mb-0 lg:w-1/2" data-aos="fade-left">
      <img
        src="img/about-page.jpg"
        alt="Lab equip about - lab room"
        class="relative h-full w-full rounded object-cover"
      />
    </div>
  </div>
</div>

<!-- </section> -->
