<!-- Section: Design Block -->
<div class="grid gap-4 md:grid-cols-2" data-aos="zoom-out">
  <div class="mb-6 md:mb-0">
    <div class="mb-6 px-4 pl-4">
      <span class="-ml-2 mb-3 block h-1 w-10 rounded bg-primary"></span>

      <span class="text-sm uppercase text-gray-600">faq</span>
      <h1 class="mb-6 mt-2 text-3xl font-black text-dark md:text-5xl">
        Frequently asked questions
      </h1>
      <p class="text-gray-600">
        Didn't find your answer in the FAQ?
        <a
          aria-label="contact"
          href="/#contact"
          class="hover:text-primary-600 focus:text-primary-600 active:text-primary-700 text-primary-400 hover:text-primary-500 focus:text-primary-500 active:text-primary-600 text-primary transition duration-300"
          >Contact our team</a
        >.
      </p>
    </div>
  </div>

  <div class="mb-6 md:mb-0">
    <div class="accordion-item mb-2 rounded-l p-4">
      <div
        class="header flex cursor-pointer flex-row-reverse items-center justify-between p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-down hidden h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-up h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5"
          />
        </svg>

        <h4 class="mb-2 mt-4 text-base font-bold text-gray-700">
          Does LEL only deal in laboratory equipment and products?
        </h4>
      </div>
      <div class="content hidden origin-top animate-open-menu px-2">
        <p class="text-base leading-7 text-dark">
          <br />
          Lab Equip Ltd. is dealing in products from Health, Education &
          Research sectors.
          <br />
          The company was named Lab Equip. Ltd because when the company was
          formed in 1986, it started as company supplying Laboratory Equipment
          and Chemicals only.
          <br />
          Over the years the company has diversified in other areas, but we
          carry the same name as it has become a very well-known brand.
        </p>
      </div>
    </div>
    <hr />

    <div class="accordion-item mb-2 rounded-l p-4">
      <div
        class="header flex cursor-pointer flex-row-reverse items-center justify-between p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-down hidden h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-up h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5"
          />
        </svg>

        <h4 class="mb-2 mt-4 text-base font-bold text-gray-700">
          When was the company founded and what is your experience?
        </h4>
      </div>
      <div class="content hidden origin-top animate-open-menu px-2">
        <p class="text-base leading-7 text-dark">
          <br />
          The Company was founded in 1986 in Dar es salaam, Tanzania by the
          Chairman of the group.
          <br />
          The group has been serving the industry since 1959. So LEL is
          benefited by the vast experience of more than six decades of its
          directors.
        </p>
      </div>
    </div>
    <hr />

    <div class="accordion-item mb-2 rounded-l p-4">
      <div
        class="header flex cursor-pointer flex-row-reverse items-center justify-between p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-down hidden h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-up h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5"
          />
        </svg>

        <h4 class="mb-2 mt-4 text-base font-bold text-gray-700">
          What is the major activity of the company?
        </h4>
      </div>
      <div class="content hidden origin-top animate-open-menu px-2">
        <p class="text-base leading-7 text-dark">
          <br />
          LEL is the leading importer, stockiest, wholesaler and distributor of
          quality Health, Education and Research products in East Africa.
          <br />
          We offer one stop solution for all the needs of our customers. We
          provide pre sales, sales and after sales service all under one roof.
        </p>
      </div>
    </div>
    <hr />

    <div class="accordion-item mb-2 rounded-l p-4">
      <div
        class="header flex cursor-pointer flex-row-reverse items-center justify-between p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-down hidden h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-up h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5"
          />
        </svg>

        <h4 class="mb-2 mt-4 text-base font-bold text-gray-700">
          What is the total range of products that LEL carries and where are
          they being sourced?
        </h4>
      </div>
      <div class="content hidden origin-top animate-open-menu px-2">
        <p class="text-base leading-7 text-dark">
          <br />
          LEL has an inventory of 5,000 distinct products which includes
          Laboratory Glassware, Plastic ware, Laboratory Chemicals & Reagents,
          Educational Instruments and Apparatus, Hospital Furniture, Medical
          Equipment, Disposables, Consumables, Analytical Instruments etc.
          <br />
          <br />We represents more than 30 leading manufacturers from all over
          the world including those from North America, Europe, Japan, Far East
          etc.
        </p>
      </div>
    </div>
    <hr />

    <div class="accordion-item mb-2 rounded-l p-4">
      <div
        class="header flex cursor-pointer flex-row-reverse items-center justify-between p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-down hidden h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-up h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5"
          />
        </svg>

        <h4 class="mb-2 mt-4 text-base font-bold text-gray-700">
          What type of sales network does Lab Equip Ltd. have?
        </h4>
      </div>
      <div class="content hidden origin-top animate-open-menu px-2">
        <p class="text-base leading-7 text-dark">
          <br />
          The corporate regional head quarter of Lab Equip Ltd. is based at Lab
          House, Keko Mwanga, Off Nyrere Road, Dar es salaam.
          <br />We also have showroom in the city centre at Zaramo Street, Opp.
          Channel Ten, DTV Roundabout. <br />Lastly we have a branch office in
          the beautiful island of Zanzibar. Apart from these sales outlets, we
          have our sales and marketing team spread all over Tanzania and East
          Africa.
        </p>
      </div>
    </div>
    <hr />

    <div class="accordion-item mb-2 rounded-l p-4">
      <div
        class="header flex cursor-pointer flex-row-reverse items-center justify-between p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-down hidden h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="arrow-up h-6 w-6 font-bold"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5"
          />
        </svg>

        <h4 class="mb-2 mt-4 text-base font-bold text-gray-700">
          How is Lab Equip Ltd. different from its other competitors?
        </h4>
      </div>
      <div class="content hidden origin-top animate-open-menu px-2">
        <p class="text-base leading-7 text-dark">
          <br />
          Lab Equip Ltd, is a pioneer in Health, Education and Research sectors.
          Our 34 years of on field experience is unmatched with any of our
          competitors.
          <br />
          <br />Also the wide range of products that we carry distinguishes LEL
          from the others in the market. The quality of our product, competitive
          prices and excellent after sales support are the 3 key factors which
          differentiates LEL from the rest.
        </p>
      </div>
    </div>
    <hr />
  </div>
</div>
