<div class="mx-auto max-w-4xl px-6 py-4 text-dark xl:max-w-6xl" id="footer">
  <div class="lg:grid lg:grid-cols-2">
    <div
      class="border-b border-gray-100 py-8 lg:order-last lg:border-b-0 lg:border-s lg:py-16 lg:ps-16"
    >
      <div class="mt-8 space-y-4 lg:mt-0">
        <span class="hidden h-1 w-10 rounded bg-primary lg:block"></span>
        <div>
          <h2 class="text-2xl font-medium text-dark">Recent News</h2>

          <div
            class="mt-4 flex max-w-lg flex-row flex-wrap text-gray-500 hover:text-primary"
          >
            <a class="" href="#" target="_blank"
              >We are excited to announce the opening of our new branch at
              Zanzibar!</a
            >
            <small> <i class="fa fa-clock m-1"></i> 20 JAN 2020</small>
          </div>
          <div
            class="mt-4 flex max-w-lg flex-row flex-wrap text-gray-500 hover:text-primary"
          >
            <a
              class=""
              href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
              target="_blank"
              >Corona Virus Disease (COVID -19) outbreak (WHO Report)</a
            >
            <small> <i class="fa fa-clock m-1"></i> 31 DEC 2019</small>
          </div>
        </div>
      </div>
    </div>

    <div class="py-8 lg:py-16 lg:pe-16">
      <div class="mt-8 grid grid-cols-1 gap-8 sm:grid-cols-3">
        <div>
          <p class="font-medium text-gray-900">Contact</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <i class="fa fa-phone-alt text-primary"></i>
              <p class="inline text-gray-700 transition hover:opacity-75">
                +255 773 600 380
              </p>
            </li>

            <li>
              <i class="far fa-envelope text-primary"></i>
              <p class="inline text-gray-700 transition hover:opacity-75">
                <a>info@lel.co.tz</a>
              </p>
            </li>

            <li>
              <i class="fa fa-map-marker-alt text-primary"></i>
              <p class="inline text-gray-700 transition hover:opacity-75">
                Lab Complex,
                <span class="mt-2 block">Plot No. 966</span>
                <span class="mt-2 block">Keko Mwanga Area</span>
                <span class="mt-2 block">Off Nyerere Road</span>
                <span class="mt-2 block"> P. O. Box 20254 </span>
              </p>
            </li>
          </ul>
        </div>

        <div class="">
          <p class="font-medium text-gray-900">Social Media</p>
          <div class="space-y-4 text-sm">
            <a href="https://www.facebook.com/LabEquipTz" target="_blank">
              <button
                class="text-lightBlue-400 align-center mr-2 h-10 w-10 items-center justify-center rounded-full bg-offWhite font-normal shadow-lg outline-none hover:bg-white focus:outline-none"
                type="button"
              >
                <i class="fab fa-facebook-f text-primary hover:text-dark"></i>
              </button>
            </a>
            <button
              class="text-lightBlue-600 align-center mr-2 h-10 w-10 items-center justify-center rounded-full bg-offWhite font-normal shadow-lg outline-none hover:bg-white focus:outline-none"
              type="button"
            >
              <a href="https://twitter.com/EquipLab" target="_blank">
                <i class="fab fa-twitter text-primary hover:text-dark"></i>
              </a>
            </button>
            <button
              class="align-center mr-2 h-10 w-10 items-center justify-center rounded-full bg-offWhite font-normal shadow-lg outline-none hover:bg-white focus:outline-none"
              type="button"
            >
              <a href="https://www.instagram.com/labequip_tz/" target="_blank">
                <i class="fab fa-instagram text-primary hover:text-dark"></i>
              </a>
            </button>
          </div>
        </div>

        <div>
          <p class="font-medium text-gray-900">Helpful Links</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a
                class="text-gray-700 transition hover:text-primary hover:opacity-75"
                href="index.html"
                >Home</a
              >
            </li>
            <li>
              <a
                class="text-gray-700 transition hover:text-primary hover:opacity-75"
                href="about.html"
                >About Us</a
              >
            </li>
            <li>
              <a
                class="text-gray-700 transition hover:text-primary hover:opacity-75"
                href="contact.html"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                class="text-gray-700 transition hover:text-primary hover:opacity-75"
                href="services.html"
                >Our Services</a
              >
            </li>
            <li>
              <a
                class="text-gray-700 transition hover:text-primary hover:opacity-75"
                href="products.html"
                >Products</a
              >
            </li>
            <li>
              <a
                class="text-gray-700 transition hover:text-primary hover:opacity-75"
                href="partners.html"
                >Partners</a
              >
            </li>
            <li>
              <a
                class="text-gray-700 transition hover:text-primary hover:opacity-75"
                href="faq.html"
                >FAQ</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border-t border-gray-100 pt-8">
        <p class="mt-8 text-xs text-gray-500">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          . Lab Equip LTD. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</div>
