<div class="mx-auto max-w-4xl px-6 py-4 text-light xl:max-w-6xl" id="footer">
  <div class="flex flex-col-reverse lg:grid lg:grid-cols-2">
    <div
      class="border-b border-offWhite py-8 lg:order-last lg:border-b-0 lg:border-s lg:py-16 lg:ps-16"
    >
      <div class="flex flex-col items-center justify-center">
        <div class="mt-8 space-y-4 lg:mt-0">
          <img src="img/logo.png" alt="footer-logo" class="mt-4 h-10" />
        </div>
        <div class="flex flex-row items-center justify-start space-y-6 text-sm">
          <a
            href="https://www.facebook.com/LabEquipTz"
            target="_blank"
            aria-label="Facebook"
          >
            <button
              class="align-center mr-2 mt-5 h-10 w-10 items-center justify-center rounded-full bg-none font-normal outline-none hover:bg-primary focus:outline-none"
              type="button"
              aria-label="facebook"
            >
              <i class="fab fa-facebook-f text-xl text-light"></i>
            </button>
          </a>
          <a
            href="https://twitter.com/EquipLab"
            target="_blank"
            aria-label="Twitter"
          >
            <button
              class="align-center mr-2 h-10 w-10 items-center justify-center rounded-full bg-none font-normal outline-none hover:bg-primary focus:outline-none"
              type="button"
              aria-label="twitter"
            >
              <i class="fab fa-twitter text-xl text-light"></i>
            </button>
          </a>
          <a
            href="https://www.instagram.com/labequip_tz/"
            target="_blank"
            aria-label="Instagram"
          >
            <button
              class="align-center mr-2 h-10 w-10 items-center justify-center rounded-full bg-none font-normal outline-none hover:bg-primary focus:outline-none"
              type="button"
              aria-label="instagram"
            >
              <i class="fab fa-instagram text-xl text-light"></i>
            </button>
          </a>
        </div>
      </div>
      <!-- <div class="mt-8 space-y-4 lg:mt-0">
        <span class="hidden h-1 w-10 rounded bg-primary lg:block"></span>
        <div>
          <h2 class="text-2xl font-medium text-light">Recent News</h2>

          <div
            class="mt-4 flex max-w-lg flex-row flex-wrap text-gray-500 hover:text-primary"
          >
            <a class="" href="#" target="_blank"
              >We are excited to announce the opening of our new branch at
              Zanzibar!</a
            >
            <small> <i class="fa fa-clock m-1"></i> 20 JAN 2020</small>
          </div>
          <div
            class="mt-4 flex max-w-lg flex-row flex-wrap text-gray-500 hover:text-primary"
          >
            <a
              class=""
              href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
              target="_blank"
              >Corona Virus Disease (COVID -19) outbreak (WHO Report)</a
            >
            <small> <i class="fa fa-clock m-1"></i> 31 DEC 2019</small>
          </div>
        </div>
      </div> -->
    </div>

    <div class="py-8 lg:py-16 lg:pe-16">
      <div
        class="mt-8 grid grid-cols-2 justify-center justify-items-center gap-8"
      >
        <div>
          <p class="text-lg font-medium text-light opacity-100">Contact</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <i class="fa fa-phone-alt text-primary"></i>
              <p
                class="inline text-light opacity-100 transition hover:opacity-75"
              >
                +255 773 600 380
              </p>
            </li>

            <li>
              <i class="far fa-envelope text-primary"></i>
              <p
                class="inline text-light opacity-100 transition hover:opacity-75"
              >
                info@lel.co.tz
              </p>
            </li>

            <li>
              <i class="fa fa-map-marker-alt text-primary"></i>
              <p
                class="inline text-light opacity-100 transition hover:opacity-75"
              >
                Lab Complex,
                <span class="mt-2 block">Plot No. 966</span>
                <span class="mt-2 block">Keko Mwanga Area</span>
                <span class="mt-2 block">Off Nyerere Road</span>
                <span class="mt-2 block"> P. O. Box 20254 </span>
              </p>
            </li>
          </ul>
        </div>

        <div>
          <p class="text-lg font-medium text-light opacity-100">
            Helpful Links
          </p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a
                aria-label="homePage"
                class="text-light opacity-100 transition hover:text-primary hover:opacity-75"
                href="/"
                >Home</a
              >
            </li>
            <li>
              <a
                aria-label="aboutPage"
                class="text-light opacity-100 transition hover:text-primary hover:opacity-75"
                href="about.html"
                >About Us</a
              >
            </li>
            <li>
              <a
                aria-label="contact"
                class="text-light opacity-100 transition hover:text-primary hover:opacity-75"
                href="#contact"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                aria-label="services"
                class="text-light opacity-100 transition hover:text-primary hover:opacity-75"
                href="services.html"
                >Our Services</a
              >
            </li>
            <li>
              <a
                aria-label="products"
                class="text-light opacity-100 transition hover:text-primary hover:opacity-75"
                href="products.html"
                >Products</a
              >
            </li>

            <li>
              <a
                aria-label="FAQ"
                class="text-light opacity-100 transition hover:text-primary hover:opacity-75"
                href="faq.html"
                >FAQ</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="my-8 flex justify-center">
    <p class="text-xs text-light">
      &copy;
      <span id="copyrightYear"></span>
      . Lab Equip LTD. All rights reserved.
    </p>
  </div>
</div>
