<!-- Container -->
<div class="relative flex flex-col items-center lg:flex-row-reverse">
  <!-- Image Column -->
  <div class="h-full w-full lg:h-auto lg:w-1/2">
    <img
      class="h-full w-full object-cover object-center"
      src="img/hero-bg.png"
      alt="lab equipment"
    />
  </div>
  <!-- Close Image Column -->

  <!-- Text Column -->
  <div
    class="max-w-lg rounded-xl bg-offWhite md:absolute md:top-0 md:mt-48 md:max-w-2xl md:shadow-lg lg:left-0 lg:ml-20 lg:mt-20 lg:w-3/5 xl:ml-12 xl:mt-24"
  >
    <!-- Text Wrapper -->
    <div class="flex flex-col p-12 md:px-16">
      <h2 class="text-3xl font-bold uppercase text-dark">
        Empowering Medical
        <span class="font-black text-yellow-500"> Excellence</span>
      </h2>
      <p class="mt-4 text-dark">
        Nurturing excellence in Healthcare, Education & Research, Lab Equip is
        dedicated to being a trusted market leader by delivering cutting-edge
        equipment and innovative solutions.
      </p>
      <!-- Button Container -->
      <div class="mt-8 flex items-center justify-center gap-4">
        <a
          href="#"
          class="btn inline-block bg-offWhite px-3 py-4 text-base text-dark hover:text-gray-100 md:w-48 md:text-lg"
          >Products</a
        >
        <a
          href="#"
          class="btn inline-block bg-primary px-3 py-4 text-base text-gray-100 md:w-48 md:text-lg"

          >Contact us</a
        >
      </div>
    </div>
    <!-- Close Text Wrapper -->
  </div>
  <!-- Close Text Column -->
</div>
