<div
  class="flex flex-row items-center justify-center gap-2"
  data-aos="zoom-out"
  data-aos-anchor="#contact"
  data-aos-anchor-placement="top-bottom"
  data-aos-delay="1000"
>
  <img src="/img/message.svg" class="hidden h-6 w-6 lg:inline-block" />
  <a
    aria-label="downloadPdf"
    class="text-center text-xl font-medium text-dark"
    href="labEquipBrochure.PDF"
    target="_blank"
    type="application/octet-stream"
    download="lab_equip_brochure"
  >
    <span
      class="cursor-pointer text-2xl font-black text-primary underline hover:text-offWhite"
    >
      Download
    </span>

    our corporate brochure to explore our wide range of products and services.
  </a>
</div>
