<div class="mx-auto max-w-4xl xl:max-w-6xl" id="about">
  <div
    class="flex flex-col items-start justify-center gap-6 p-6 md:flex-row md:px-8"
  >
    <div class="min-w-min px-4">
      <div class="flex flex-col">
        <img
          class="w-3/4 max-w-full self-end rounded-md shadow-lg"
          src="img/about-img-2.png"
          alt="about us"
        />
        <img
          class="-mt-[25%] w-1/2 max-w-full rounded-md bg-white pe-[0.15rem] pt-[0.15rem] shadow-lg"
          src="img/about-img-1.png"
          alt="about us"
        />
      </div>
    </div>
    <div class="flex flex-col items-start justify-start gap-3 px-4">
      <!-- <p
        class="inline-block border rounded-xl py-1 px-4 text-gray-500 border-yellow-600"
        >About Us</p
      > -->
      <span class="block h-1 w-10 rounded bg-primary"></span>
      <h2 class="mb-2 text-3xl font-bold capitalize text-dark">
        Why you should trust us? Get to know about us!
      </h2>
      <p class="text-base text-dark">
        Under the leadership of its founder, Hussain Ali Saboor, and CEO
        Mohammed Reza Saboor, LEL is overseen by a
        <span class="text-yellow-500"> proficient cadre of professionals.</span>
      </p>

      <a
        class="btn mt-3 w-40 bg-primary px-5 py-3 text-gray-100"
        href="about.html"
        >Read More</a
      >
    </div>
  </div>
</div>
