<div class="flex flex-col items-center justify-center gap-y-6">
  <div
    class="flex flex-col-reverse items-start justify-center gap-6 p-6 md:flex-row"
  >
    <div class="mx-auto max-w-lg px-4 lg:max-w-2xl">
      <img
        src="img/clients.jpg"
        alt="clients"
        class="max-w-full rounded-2xl shadow-lg"
      />
    </div>
    <div>
      <span class="-ml-2 mb-3 block h-1 w-10 rounded bg-primary"></span>
      <h2 class="mb-6 text-3xl font-bold capitalize text-dark">
        Our trusted clients & partners
      </h2>
      <div class="mb-10 flex flex-col gap-2">
        <p class="mx-auto max-w-screen-lg text-base leading-8 text-dark">
          We work in close cooperation with a large number of internationally
          renowned manufacturers.
          <span class="block pt-4"> </span>
          Having close affiliations with our partners and having exclusive
          distribution rights / preferred partner status with world leading
          suppliers of health and research products give us access to cutting
          edge technology and training required to install and repair all
          products supplied by us.
        </p>
      </div>
    </div>
  </div>
  <div
    class="logos hover:pause-animation inline-flex w-full cursor-pointer flex-nowrap overflow-hidden pt-7 [mask-image:_linear-gradient(to_right,transparent_0,_white_128px,_white_calc(100%-128px),transparent_100%)]"
  >
    <ul
      class="logo-slide flex animate-slide items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
    >
      <li>
        <img
          src="img/partners/partner1.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner2.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner3.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner4.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner5.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner6.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner7.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner8.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner9.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner10.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
      <li>
        <img
          src="img/partners/partner11.webp"
          alt="lab equip partner"
          class="h-14"
        />
      </li>
    </ul>
  </div>
</div>
