<div
  class="flex flex-col items-center justify-center"
  data-aos="zoom-out"
  data-aos-anchor="#contact"
  data-aos-anchor-placement="top-bottom"
  data-aos-delay="1000"
>
  <a
    class="text-center text-xl font-medium text-dark"
    href="labEquipBrochure.PDF"
    target="_blank"
    type="application/octet-stream"
    download="lab_equip_brochure"
  >
    <span class="cursor-pointer text-primary underline hover:text-yellow-600"
      >Download</span
    >
    our corporate brochure to explore our wide range of products and services.
  </a>
</div>
