<div class="-mx-4 flex flex-wrap">
  <div class="w-full px-4 text-left">
    <div class="mb-12 max-w-[510px] px-4 lg:mb-20">
      <h2 class="mb-3 text-3xl font-bold leading-[1.2] text-offWhite">
        <span class="-ml-2 mb-3 block h-1 w-10 rounded bg-primary"></span>
        Products
      </h2>
      <p class="text-body-color text-base text-offWhite">
        These are a few of the products we provide
      </p>
    </div>
  </div>
</div>
<div
  class="mx-auto mb-5 mt-10 grid w-fit grid-cols-1 justify-center justify-items-center gap-x-14 gap-y-20 md:grid-cols-2 lg:grid-cols-3"
>
  <div
    class="w-72 rounded-xl bg-white shadow-md duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="/products.html">
      <img
        src="/img/medical-equipment.jpg"
        alt="Product"
        class="h-80 w-72 rounded-t-xl object-cover"
      />
      <div class="w-72 px-4 py-3">
        <span class="mr-3 text-xs uppercase text-gray-600">
          Over 500 types of medical equipment</span
        >
        <div class="flex items-center">
          <p class="block truncate text-lg font-bold capitalize text-black">
            medical equipment
          </p>
          <div class="ml-auto">
            <img src="/img/message.svg" class="h-6 w-6" alt="arrow-svg" />
          </div>
        </div>
      </div>
    </a>
  </div>
  <!--   🛑 Product card 1 - Ends Here  -->

  <div
    class="w-72 rounded-xl bg-white shadow-md duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="/products.html">
      <img
        src="/img/hospital-furniture.jpg"
        alt="Product"
        class="h-80 w-72 rounded-t-xl object-cover"
      />
      <div class="w-72 px-4 py-3">
        <span class="mr-3 text-xs uppercase text-gray-600">
          Hospital and Laboratory furniture</span
        >
        <div class="flex items-center">
          <p class="block truncate text-lg font-bold capitalize text-black">
            Hospital Furniture
          </p>
          <div class="ml-auto">
            <img src="/img/message.svg" class="h-6 w-6" alt="arrow-svg" />
          </div>
        </div>
      </div>
    </a>
  </div>
  <!--   🛑 Product card 2 - Ends Here  -->

  <div
    class="w-72 rounded-xl bg-white shadow-md duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="/products.html">
      <img
        src="/img/lab-equipment.jpg"
        alt="Product"
        class="h-80 w-72 rounded-t-xl object-cover"
      />
      <div class="w-72 px-4 py-3">
        <span class="mr-3 text-xs uppercase text-gray-600">
          Variety of high quality equipment</span
        >
        <div class="flex items-center">
          <p class="block truncate text-lg font-bold capitalize text-black">
            Laboratory Equipment
          </p>
          <div class="ml-auto">
            <img src="/img/message.svg" class="h-6 w-6" alt="arrow-svg" />
          </div>
        </div>
      </div>
    </a>
  </div>
  <!--   🛑 Product card 3 - Ends Here  -->

  <div
    class="w-72 rounded-xl bg-white shadow-md duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="/products.html">
      <img
        src="/img/education-equipment.jpg"
        alt="Product"
        class="h-80 w-72 rounded-t-xl object-cover"
      />
      <div class="w-72 px-4 py-3">
        <span class="mr-3 text-xs uppercase text-gray-600">
          Educational apparatus and equipment</span
        >
        <div class="flex items-center">
          <p class="block truncate text-lg font-bold capitalize text-black">
            Education Equipment
          </p>
          <div class="ml-auto">
            <img src="/img/message.svg" class="h-6 w-6" alt="arrow-svg" />
          </div>
        </div>
      </div>
    </a>
  </div>
  <!--   🛑 Product card 4 - Ends Here  -->

  <div
    class="w-72 rounded-xl bg-white shadow-md duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="/products.html">
      <img
        src="/img/research-equipment.jpg"
        alt="Product"
        class="h-80 w-72 rounded-t-xl object-cover"
      />
      <div class="w-72 px-4 py-3">
        <span class="mr-3 text-xs uppercase text-gray-600">
          Over 300 different types of equipments
        </span>
        <div class="flex items-center">
          <p class="block truncate text-lg font-bold capitalize text-black">
            Research Equipment
          </p>
          <div class="ml-auto">
            <img src="/img/message.svg" class="h-6 w-6" alt="arrow-svg" />
          </div>
        </div>
      </div>
    </a>
  </div>
  <!--   🛑 Product card 5  - Ends Here  -->

  <div
    class="w-72 rounded-xl bg-white shadow-md duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="/products.html">
      <img
        src="/img/lab-glassware.jpg"
        alt="Product"
        class="h-80 w-72 rounded-t-xl object-cover"
      />
      <div class="w-72 px-4 py-3">
        <span class="mr-3 text-xs uppercase text-gray-600">
          Variety of glassware used in labs</span
        >
        <div class="flex items-center">
          <p class="block truncate text-lg font-bold capitalize text-black">
            Glassware
          </p>
          <div class="ml-auto">
            <img src="/img/message.svg" class="h-6 w-6" alt="arrow-svg" />
          </div>
        </div>
      </div>
    </a>
  </div>
  <!--   🛑 Product card 6 - Ends Here  -->

  <div
    class="w-72 rounded-xl bg-white shadow-md duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="/products.html">
      <img
        src="/img/chemicals.jpg"
        alt="Product"
        class="h-80 w-72 rounded-t-xl object-cover"
      />
      <div class="w-72 px-4 py-3">
        <span class="mr-3 text-xs uppercase text-gray-600">
          Over 1000 types of high quality chemicals</span
        >
        <div class="flex items-center">
          <p class="block truncate text-lg font-bold capitalize text-black">
            Chemicals
          </p>
          <div class="ml-auto">
            <img src="/img/message.svg" class="h-6 w-6" alt="arrow-svg" />
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
