<article>
  <section class="bg-light px-6 text-dark shadow md:px-0" id="standard-nav">
    <div
      class="mx-auto flex max-w-4xl items-center justify-between px-3 py-2 text-sm md:text-lg xl:max-w-6xl"
    >
      <a href="index.html" aria-label="index-link" data-keyword="home">
        <img src="img/logo.webp" alt="Logo Lab Equip" class="h-8" />
      </a>
      <div>
        <button
          id="hamburger-button"
          aria-label="hamburger-button"
          class="relative h-8 w-8 cursor-pointer text-3xl text-dark focus:text-primary lg:hidden"
          type="button"
        >
          <div
            class="absolute top-4 -mt-1 h-1 w-8 rounded bg-dark transition-all duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-2 before:rounded before:bg-dark before:transition-all before:duration-500 before:content-[''] after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-2 after:rounded after:bg-dark after:transition-all after:duration-500"
          ></div>
          <!-- &#9776; -->
        </button>
        <nav
          aria-label="main-nav"
          class="hidden space-x-8 text-sm uppercase lg:block"
        >
          <div class="inline space-x-8 font-medium">
            <a
              href="/"
              class="nav-link text-dark hover:text-primary"
              aria-label="Home"
              data-keyword="home"
              >Home</a
            >
            <a
              aria-label="Products"
              href="/products.html"
              class="nav-link text-dark hover:text-primary"
              data-keyword="products"
              >Products</a
            >
            <a
              href="/about.html"
              class="nav-link text-dark hover:text-primary"
              aria-label="About"
              data-keyword="about"
              >About</a
            >
            <a
              href="/#partners"
              class="nav-link text-dark hover:text-primary"
              aria-label="Our Clients"
              data-keyword="partners"
              >Our Clients</a
            >
            <a
              href="/#contact"
              class="nav-link text-dark hover:text-primary"
              aria-label="Contact us"
              data-keyword="contact"
              >Contact us</a
            >
            <a
              aria-label="Services"
              href="/services.html"
              class="nav-link text-dark hover:text-primary"
              data-keyword="services"
              >Services</a
            >
            <a
              href="/faq.html"
              class="nav-link text-dark hover:text-primary"
              aria-label="FAQ"
              data-keyword="faq"
              >FAQ</a
            >
          </div>
        </nav>
      </div>
    </div>
  </section>
  <section
    id="mobile-menu"
    class="section-min-height absolute hidden w-full origin-top animate-open-menu flex-col justify-center overflow-auto bg-white text-2xl text-dark shadow"
  >
    <!-- <button class="text-8xl self-end px-6">&times;</button> -->
    <nav
      class="flex cursor-pointer flex-col items-center pb-2 uppercase"
      aria-label="mobile-nav"
    >
      <a
        href="/"
        aria-label="Home"
        class="w-full py-6 text-center text-dark hover:bg-white hover:text-primary"
        >Home</a
      >
      <a
        aria-label="About"
        href="about.html"
        class="w-full py-6 text-center text-dark hover:bg-white hover:text-primary"
        >About</a
      >
      <a
        aria-label="Services"
        href="services.html"
        class="w-full py-6 text-center text-dark hover:bg-white hover:text-primary"
        >Services</a
      >
      <a
        aria-label="Products"
        href="products.html"
        class="w-full py-6 text-center text-dark hover:bg-white hover:text-primary"
        >Products</a
      >
      <a
        aria-label="Our Clients"
        href="#partners"
        class="w-full py-6 text-center text-dark hover:bg-white hover:text-primary"
        >Our Clients</a
      >
      <a
        aria-label="FAQ"
        href="faq.html"
        class="w-full py-6 text-center text-dark hover:bg-white hover:text-primary"
        >FAQ</a
      >
      <a
        aria-label="Contact us"
        href="/#contact"
        class="w-full py-6 text-center text-dark hover:bg-white hover:text-primary"
        >Contact us</a
      >
    </nav>
  </section>
</article>
