<h2 class="mb-8 text-center text-3xl font-bold capitalize text-dark">
  Our trusted partners
</h2>
<div
  class="logos hover:pause-animation inline-flex w-full cursor-pointer flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_white_128px,_white_calc(100%-128px),transparent_100%)]"
>
  <ul
    class="logo-slide animate-slide flex items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
  >
    <li>
      <img
        src="img/partners/partner1.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner2.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner3.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner4.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner5.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner6.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner7.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner8.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner9.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner10.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner11.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
  </ul>
  <!-- second row -->
  <!-- <ul
    class="animate-slide flex items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
    aria-hidden="true"
  >
    <li>
      <img
        src="img/partners/partner1.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner2.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner3.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner4.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner5.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner6.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner7.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner8.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner9.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner10.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
    <li>
      <img
        src="img/partners/partner11.png"
        alt="lab equip partner"
        class="h-14"
      />
    </li>
  </ul> -->
</div>
