<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Education Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Ammeter</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Education Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Potentiometer</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Education Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Voltmeter</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Education Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Van de Graaff</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Education Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Bunsen Burners</h4>
</div>
<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Education Equipment"
>
  <h4 class="ml-6 mt-2 text-lg font-medium text-dark">Tuning Forks</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Education Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Resonance Apparatus</h4>
</div>
