<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Gas Chromatography</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Liquid Chromatography</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">
    Atomic Absorption Spectrophotometer
  </h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Monochrometer</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Microplate Reader</h4>
</div>
<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="ml-6 mt-2 text-lg font-medium text-dark">
    Thermo-Conductivity Analyzer
  </h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">PH Meter</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">TDS Meter</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Refractometer</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Oxygen Analyzer</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Digital Oscilloscope</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Muffle Furnace</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Bio-Safety Cabinet</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Laminar Flow</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Research Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">
    Ultra Low Temperature Freezer
  </h4>
</div>
