<ul class="space-y-3 lg:w-1/5 lg:space-y-4 lg:px-2">
  <li
    data-category="Medical Equipment"
    class="block cursor-pointer text-lg font-medium text-primary hover:text-primary"
  >
    Medical Equipment
  </li>
  <li
    data-category="Hospital Furniture"
    class="block cursor-pointer text-lg font-medium text-dark hover:text-primary"
  >
    Hospital Furniture
  </li>
  <li
    data-category="Laboratory Equipment"
    class="block cursor-pointer text-lg font-medium text-dark hover:text-primary"
  >
    Laboratory Equipment
  </li>
  <li
    data-category="Education Equipment"
    class="block cursor-pointer text-lg font-medium text-dark hover:text-primary"
  >
    Education Equipment
  </li>
  <li
    data-category="Research Equipment"
    class="block cursor-pointer text-lg font-medium text-dark hover:text-primary"
  >
    Research Equipment
  </li>
  <li
    data-category="Glassware"
    class="block cursor-pointer text-lg font-medium text-dark hover:text-primary"
  >
    Glassware
  </li>
  <li
    data-category="Chemicals"
    class="block cursor-pointer text-lg font-medium text-dark hover:text-primary"
  >
    Chemicals
  </li>
</ul>
