<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Conical Flasks</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Round Bottom Flasks</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Volumetric Flasks</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Burettes</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Automatic Burettes</h4>
</div>
<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="ml-6 mt-2 text-lg font-medium text-dark">Beakers</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="mt-2 text-lg font-medium text-dark">
    Measuring Cylinder Apparatus
  </h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Petri Dishes</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Crucibles</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Glassware"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Dropping Bottles</h4>
</div>
