<div class="mb-6 px-4 pl-4">
  <span class="-ml-2 mb-3 block h-1 w-10 rounded bg-primary"></span>

  <span class="text-sm uppercase text-gray-600">What we offer</span>
  <h1 class="mt-2 text-3xl font-black text-dark md:text-5xl">Products</h1>
</div>

<div
  class="flex flex-col-reverse items-start justify-center gap-6 p-6 pb-6 md:flex-row md:px-8"
>
  <div
    class="flex flex-col items-center justify-start gap-4 border-b pb-12 md:flex-row md:items-start"
  >
    <div class="px-4 md:w-1/2">
      <picture>
        <source type="image/webp" srcset="/img/lab.webp" />
        <img
          src="/img/lab.jpg"
          alt="lab"
          class="max-w-full rounded-2xl shadow-lg"
        />
      </picture>
    </div>
    <div class="flex-1">
      <h2 class="mb-2 text-2xl font-bold capitalize text-dark">
        Browse through our extensive selection of equipment!
      </h2>
      <p class="text-base text-dark opacity-100">
        Explore our extensive range of high-quality medical equipment and
        solutions designed to provide exceptional patient care. We are your
        reliable partner in supplying healthcare institutions with the necessary
        tools for optimal medical practices.
      </p>
    </div>
  </div>
</div>
<!--

<div>
  <p>
    Explore our extensive range of high-quality medical equipment and solutions
    designed to provide exceptional patient care. Browse through our diverse
    selection of innovative and dependable equipment, customized for various
    medical specialties. We are your reliable partner in supplying healthcare
    institutions with the necessary tools for optimal medical practices. Join us
    on a journey to elevate healthcare standards.
  </p>
</div> -->

<div class="mx-auto rounded-3xl px-6 py-8">
  <div
    class="text-dark lg:flex lg:flex-col lg:items-center lg:justify-center lg:gap-8"
  >
    <!-- links -->
    <include src="components/products_sidenav.html"></include>

    <div
      class="mt-12 flex flex-col items-center gap-12 border-t-2 border-solid border-gray-200 pt-12 lg:mt-0 lg:w-4/5 lg:border-t-0 lg:px-2"
      id="products"
    >
      <div class="flex items-center justify-center pt-8 lg:hidden">
        <p class="min-w-max pt-10 text-lg font-bold text-gray-700">
          <span class="-ml-2 mb-3 block h-1 w-10 rounded bg-primary"></span>
          <span id="product-title"> Products in Medical Equipment</span>
        </p>
      </div>

      <div
        class="ml-4 mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        <!-- Medical Equipment -->
        <include src="components/products_medicalEquip.html"></include>

        <!-- Hospital Furniture -->
        <include src="components/products_hospitalFuniture.html"></include>

        <!-- Laboratory Equipment -->
        <include src="components/products_labEquip.html"></include>

        <!-- Education Equipment -->
        <include src="components/products_education.html"></include>

        <!-- Research Equipment -->
        <include src="components/products_research.html"></include>

        <!-- Glassware -->
        <include src="components/products_glassware.html"></include>

        <!-- Chemicals -->
        <include src="components/products_chemicals.html"></include>
      </div>
      <p class="text-center text-gray-700">
        *These are just a small sample of what we can provide. Please send us an
        enquiry to know more!
      </p>
      <!-- Contact -->
      <div class="flex h-full min-w-max flex-row items-center justify-center">
        <a
          type="button"
          aria-label="contact"
          class="btn flex items-center justify-center gap-2 rounded-3xl bg-primary p-4 text-light hover:bg-offWhite hover:text-white"
          href="/#contact"
        >
          <p class="text-base opacity-100 md:text-lg">Get in Touch</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
