<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Hydrochloric Acid</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Sulphuric Acid</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Nitric Acid</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Oxalic Acid</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Acetic Acid</h4>
</div>
<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="ml-6 mt-2 text-lg font-medium text-dark">Ethanol</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Ethylene</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Methanol</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Acetic Acid</h4>
</div>

<div
  class="product mx-auto hidden w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Chemicals"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Silver Nitrate</h4>
</div>
