<ul
  id="product-menu"
  class="flex flex-col items-center justify-center space-y-6 lg:mr-4 lg:flex-row lg:items-center lg:justify-center lg:space-x-4 lg:space-y-0 lg:border-b lg:px-2 lg:pb-4"
>
  <li
    data-category="Medical Equipment"
    class="block cursor-pointer pr-2 text-2xl font-bold text-primary hover:text-primary"
  >
    Medical Equipment
  </li>
  <li
    data-category="Hospital Furniture"
    class="block cursor-pointer pr-2 text-2xl font-bold text-dark hover:text-primary"
  >
    Hospital Furniture
  </li>
  <li
    data-category="Laboratory Equipment"
    class="block cursor-pointer pr-2 text-2xl font-bold text-dark hover:text-primary"
  >
    Laboratory Equipment
  </li>
  <li
    data-category="Education Equipment"
    class="block cursor-pointer pr-2 text-2xl font-bold text-dark hover:text-primary"
  >
    Education Equipment
  </li>
  <li
    data-category="Research Equipment"
    class="block cursor-pointer pr-2 text-2xl font-bold text-dark hover:text-primary"
  >
    Research Equipment
  </li>
  <li
    data-category="Glassware"
    class="block cursor-pointer pr-2 text-2xl font-bold text-dark hover:text-primary"
  >
    Glassware
  </li>
  <li
    data-category="Chemicals"
    class="block cursor-pointer text-2xl font-bold text-dark hover:text-primary"
  >
    Chemicals
  </li>
</ul>
