<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 text-center text-lg font-medium text-dark">Hospital Beds</h4>
</div>

<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 text-center text-lg font-medium text-dark">Linen Trolley</h4>
</div>

<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 text-center text-lg font-medium text-dark">
    Bedside Cabinets
  </h4>
</div>

<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 text-center text-lg font-medium text-dark">Drip Stands</h4>
</div>

<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 text-center text-lg font-medium text-dark">Doctor’s Stool</h4>
</div>

<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 text-center text-lg font-medium text-dark">Doctor’s Chair</h4>
</div>

<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 text-center text-lg font-medium text-dark">
    Emergency Stretcher
  </h4>
</div>

<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 text-center text-lg font-medium text-dark">
    Operating Tables
  </h4>
</div>

<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 text-center text-lg font-medium text-dark">
    Examination Bed
  </h4>
</div>

<div
  class="product mx-auto hidden h-16 w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Hospital Furniture"
>
  <h4 class="mt-2 min-w-max text-center text-lg font-medium text-dark">
    Two/Three Shelves Trolley
  </h4>
</div>
