<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Electro Cardio Graph</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-center"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Defibrillator</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-center"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Patient Monitors</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-center"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Ventilators</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Anaesthesia Machine</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Ultrasound</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">X-Ray Machine</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Oxygen Concentrators</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Complete Dental Units</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Dental X-ray</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">ENT Equipment</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">BP Machines</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Weighing Scales</h4>
</div>

<div
  class="product mx-auto flex w-full max-w-lg animate-open-menu flex-col items-center justify-start"
  data-category="Medical Equipment"
>
  <h4 class="mt-2 text-lg font-medium text-dark">Pulse Oximeter</h4>
</div>
