<div class="mb-6 px-4 pl-4">
  <span class="-ml-2 mb-3 block h-1 w-10 rounded bg-primary"></span>

  <span class="text-sm uppercase text-gray-600">Trusted worldwide</span>
  <h1 class="mt-2 text-3xl font-black text-dark md:text-5xl">Services</h1>
</div>

<p class="mb-10 px-4 text-base leading-7 text-dark opacity-100">
  LEL's <span class="text-primary opacity-100">excellence</span> shines through
  its comprehensive suite of services, which includes round-the-clock customer
  service support, expert installation, comprehensive training, sales
  proficiency, dedicated after-sales care, top-tier warehousing capabilities,
  and impeccable delivery and supply services.
  <br />
  <br />
  LEL takes pride in its fully equipped, in-house service center staffed with
  highly qualified personnel. Over the past two years, our substantial
  investments in this domain have borne fruit, endowing us with a distinct
  competitive edge in the installation, repair, and after-sales service of the
  equipment we provide.
</p>
<div
  class="mx-auto mt-12 grid grid-cols-2 justify-items-center gap-12 p-4 xs:grid-cols-1 md:grid-cols-3 lg:grid-cols-4"
>
  <div
    class="flex h-32 flex-col items-center justify-center gap-4 text-center"
    data-aos="zoom-out"
  >
    <div
      class="rounded-full border-8 border-primary p-4 hover:cursor-pointer hover:border-offWhite"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-12 w-12"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M20.25 3.75v4.5m0-4.5h-4.5m4.5 0l-6 6m3 12c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z"
        />
      </svg>
    </div>
    <h4 class="text-base font-bold text-dark lg:text-xl">24/7 Support</h4>
  </div>
  <div
    class="flex h-32 flex-col items-center justify-center gap-4 text-center"
    data-aos="zoom-out"
  >
    <div
      class="rounded-full border-8 border-primary p-4 hover:cursor-pointer hover:border-offWhite"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-12 w-12"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
        ></path>
      </svg>
    </div>
    <h4 class="text-base font-bold text-dark lg:text-lg">Delivery & Supply</h4>
  </div>
  <div
    class="flex h-32 flex-col items-center justify-center gap-4 text-center"
    data-aos="zoom-out"
  >
    <div
      class="rounded-full border-8 border-primary p-4 hover:cursor-pointer hover:border-offWhite"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-12 w-12"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
        ></path>
      </svg>
    </div>
    <h4 class="text-base font-bold text-dark lg:text-xl">Installation</h4>
  </div>

  <div
    class="flex h-32 flex-col items-center justify-center gap-4 text-center"
    data-aos="zoom-out"
  >
    <div
      class="rounded-full border-8 border-primary p-4 hover:cursor-pointer hover:border-offWhite"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-12 w-12"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"
        />
      </svg>
    </div>
    <h4 class="text-base font-bold text-dark lg:text-xl">Training</h4>
  </div>

  <div
    class="flex h-32 flex-col items-center justify-center gap-4 text-center"
    data-aos="zoom-out"
  >
    <div
      class="rounded-full border-8 border-primary p-4 hover:cursor-pointer hover:border-offWhite"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-12 w-12"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
        />
      </svg>
    </div>
    <h4 class="text-base font-bold text-dark lg:text-xl">Sales</h4>
  </div>

  <div
    class="flex h-32 flex-col items-center justify-center gap-4 text-center"
    data-aos="zoom-out"
  >
    <div
      class="rounded-full border-8 border-primary p-4 hover:cursor-pointer hover:border-offWhite"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        class="h-12 w-12"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
        />
      </svg>
    </div>
    <h4 class="text-base font-bold text-dark lg:text-xl">After Sales</h4>
  </div>

  <div
    class="flex h-32 flex-col items-center justify-center gap-4 text-center"
    data-aos="zoom-out"
  >
    <div
      class="rounded-full border-8 border-primary p-4 hover:cursor-pointer hover:border-offWhite"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-12 w-12"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
        />
      </svg>
    </div>
    <h4 class="text-base font-bold text-dark lg:text-xl">Warehousing</h4>
  </div>
  <div
    class="flex h-full min-w-max flex-row items-center justify-center"
    data-aos="zoom-out"
  >
    <div
      type="button"
      id="open-popup-button"
      aria-label="contact"
      class="btn flex items-center justify-center gap-2 rounded-3xl bg-offWhite p-4 text-white hover:cursor-pointer hover:bg-dark hover:text-white"
    >
      <p class="text-base opacity-100 md:text-xl">Report an issue</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
        />
      </svg>
    </div>
  </div>
</div>
