<section class="bg-secondary" id="topbar">
  <div
    class="hidden max-w-4xl mx-auto md:flex flex-row justify-between px-4 py-2"
  >
    <div class="flex justify-center items-center gap-4">
      <div class="">
        <small class="fa fa-map-marker-alt text-primary"></small>
        <small class="text-gray-500">Plot No. 966, Keko Mwanga Area</small>
      </div>
      <div class="">
        <small class="far fa-envelope text-primary"></small>
        <small class="text-gray-500"><a>info@lel.co.tz</a></small>
      </div>
    </div>
    <div class="flex justify-center items-center gap-4">
      <div class="">
        <small class="fa fa-phone-alt text-primary"></small>
        <small class="text-gray-500">+255 773 600 380</small>
      </div>
      <div
        class="social-media flex justify-center items-center text-center gap-4"
      >
        <a
          class="bg-light rounded-full w-6"
          href="https://www.facebook.com/LabEquipTz"
          target="_blank"
        >
          <i class="fab fa-facebook-f text-primary hover:text-dark"></i>
        </a>
        <a
          class="bg-light rounded-full w-6"
          href="https://twitter.com/EquipLab"
          target="_blank"
        >
          <i class="fab fa-twitter text-primary hover:text-dark"></i>
        </a>
        <a
          class="bg-light rounded-full w-6"
          href="https://www.instagram.com/labequip_tz/"
          target="_blank"
        >
          <i class="fab fa-instagram text-primary hover:text-dark"></i>
        </a>
      </div>
    </div>
  </div>
</section>
