<div class="hidden bg-offWhite px-6 md:block md:px-0" id="topbar">
  <div
    class="mx-auto max-w-4xl flex-row justify-between px-4 py-1 md:flex xl:max-w-6xl"
  >
    <div class="flex items-center justify-center gap-4">
      <div class="">
        <small class="fa fa-phone-alt text-primary"></small>
        <small class="text-light">+255 773 600 380</small>
      </div>
      <div class="">
        <small class="far fa-envelope text-primary"></small>
        <small class="text-light">info@lel.co.tz</small>
      </div>
    </div>
    <div class="flex items-center justify-center gap-4">
      <div class="">
        <small class="fa fa-map-marker-alt text-primary"></small>
        <small class="text-light">Plot No. 966, Keko Mwanga Area</small>
      </div>
      <div
        class="social-media flex items-center justify-center gap-4 text-center"
      >
        <a
          aria-label="topbar-facebook-link"
          class="w-6 rounded-full bg-light"
          href="https://www.facebook.com/LabEquipTz"
          target="_blank"
        >
          <i class="fab fa-facebook-f text-primary hover:text-dark"></i>
        </a>
        <a
          aria-label="topbar-twitter-link"
          class="w-6 rounded-full bg-light"
          href="https://twitter.com/EquipLab"
          target="_blank"
        >
          <i class="fab fa-twitter text-primary hover:text-dark"></i>
        </a>
        <a
          aria-label="topbar-insta-link"
          class="w-6 rounded-full bg-light"
          href="https://www.instagram.com/labequip_tz/"
          target="_blank"
        >
          <i class="fab fa-instagram text-primary hover:text-dark"></i>
        </a>
      </div>
    </div>
  </div>
</div>
