<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="/styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <include src="components/nav.html"></include>
    <h1 class="text-3xl font-bold underline">{{title}} - Page</h1>
    <block name="content"></block>
    <script type="module" src="/scripts/main.ts"></script>
  </body>
</html>
